.site-header {
    background-color: color('purple', 50);

    &--logo {

    }

    &--top-menu {
        @include wrapper;
        display: block;
    }

    &--container {
        display: flex;
        padding: setting-get('rhythm') 0;
    }

    &--navigation {
        margin-top: 0;
    }

    &--navigation-list {
        display: flex;
    }

    &--navigation-list-item {
        margin-top: 0;
    }

    &--navigation-list-item-link {
        @include link(setting-get('text color'), setting-get('text color'), setting-get('active link color'), setting-get('active link color'));
        margin-left: setting-get('rhythm') * 2;
    }
}
