<div class="about">
    <div class="about--container">
        <h1 class="about--title">About Know Yo Flo</h1>
        <p class="about--description">
          A period tracking app right on your Google Calendar created by <a href="https://twitter.com/hollyglot">@hollyglot</a> <a hrefer="https://twitter.com/sarachicad">@SaraChicaD</a> and <a href="https://twitter.com/poofichu">@poofichu</a>. 
        </p>
        <p>The story of Flo can be found HERE, HERE, HERE and HERE. But the short version is that we wanted to track our periods where we track everything else — Google Calendar. But this didn't exist, so we built it, so here we are. Tweet us feedback, we'd love to hear from you!</p>
    </div>
</div>
