<div>
    <div>
        <a [routerLink]="['']">{{ 'pageTitle' | translate }}</a>
    </div>
    <div id="navbar">
        <ul>
            <li><a [routerLink]="['about']">{{ 'menu.about' | translate }}</a></li>
            <li><a [routerLink]="['']" *ngIf="!(getLoggedIn() | async)">{{ 'menu.login' | translate }}</a></li>
            <li><a [routerLink]="['add-flo']" *ngIf="getLoggedIn() | async">{{ 'menu.addFlo' | translate }}</a></li>
            <li><a href="#" (click)="logout()" *ngIf="getLoggedIn() | async">{{ 'menu.logout' | translate }}</a></li>
        </ul>
    </div>
</div>
